body{
    font-family: Arial, sans-serif;
}

.hero{
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url('https://images.unsplash.com/photo-1523580846011-d3a5bc25702b');
    background-size: cover;
    background-position: center;
    color: white;
    height: 80vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.gallery img{
    height:250px;
    object-fit:cover;
}

footer{
    background:#212529;
    color:white;
    padding:15px;
    text-align:center;
}