
        nav{
            background-color: rgb(86, 162, 86);
            box-sizing: border-box;
            padding-top:10px;
            padding-bottom:5px;
            text-align: center;
            height: 40px;
        }
        nav a{
            text-decoration: none;
            margin:20px;
            font-size: 18px;
        }
        nav a:hover{
            color:azure;
        }
        body{
            background-color:beige;
        }
        h1{
            text-align: center;
        }
        .form{
            text-align: center;
            border:1px solid black;
            padding-top:100px;
            padding-bottom:80px;
            margin-left: 500px;
            margin-right: 500px;
            box-shadow: 0px 2px 4px black;
            border-radius: 8px;
        }
        input{
            margin:14px;
            width:280px;
            border-radius: 8px;
            padding:4px;
        }
        input:hover{
            border-color: aqua;
        }
        button{
            margin-top: 40px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 7px;
            padding-bottom: 7px;
            border-radius: 10px; 
            background-color:blue;
            color:white; 
            font-size:14px;
        }
        button:hover{
            background-color:aqua;
            color:black;
            cursor:pointer;
        }
       
        
   